In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url="https://editorial.rottentomatoes.com/guide/great-feel-good-movies/"

In [3]:
response = requests.get(url)

In [4]:
response

In [5]:
soup = BeautifulSoup(response.content, 'html.parser')
movie_list=[]

In [30]:
all_h2s = soup.find_all('h2')

# Initialize an empty list to store movie titles
movie_titles = []
movee=[]

# Loop through each h2 and extract the anchor tag text
for h2 in all_h2s:
    link = h2.find('a')
    if link:  # Check if an anchor tag exists in this h2
        dic={
            "title":link.text.strip()
        }
        movee.append(dic)
        movie_titles.append(link.text.strip())

# Print all movie titles
for movie in movie_titles:
    print(movie)

Now and Then
Hook
Angels in the Outfield
The Fast and the Furious: Tokyo Drift
Nacho Libre
Big Daddy
Billy Madison
The Proposal
Casper
The Princess Diaries
The Holiday
The First Wives Club
Scary Movie
Mamma Mia!
Step Brothers
Last Holiday
Blast From the Past
Bad Moms
The Mummy
The Preacher's Wife
The Sandlot
Pretty Woman
Chocolat
Bring It On
Muppets From Space
I'm Gonna Git You Sucka
The Rocketeer
13 Going on 30
Brown Sugar
Anchorman: The Legend of Ron Burgundy
The Fate of the Furious
Dumb & Dumber
Coming to America
Hitch
The Wedding Singer
Doc Hollywood
10 Things I Hate About You
Gremlins 2: The New Batch
The Rundown
Legally Blonde
Dirty Dancing
Napoleon Dynamite
Sing
Mrs. Doubtfire
Love Jones
Sister Act
Sleepless in Seattle
The Intouchables
Grease
The Devil Wears Prada
Lu Over the Wall
Stardust
Big Trouble in Little China
Role Models
A League of Their Own
Friday
Popstar: Never Stop Never Stopping
Crazy, Stupid, Love.
Clueless
While You Were Sleeping
Ferris Bueller's Day Off
Bridget Jones's Diary
The Wild Thornberrys Movie
Pitch Perfect
Jojo Rabbit
Harry Potter and the Sorcerer's Stone
Soul Food
Liar Liar
The Mask of Zorro
Ocean's Eleven
Love & Basketball
The Muppets Take Manhattan
Jerry Maguire
Working Girl
The Sound of Music
I Love You, Man
Mean Girls
Hercules
Blockers
Elf
Easy A
Rodgers & Hammerstein's Cinderella
My Cousin Vinny
Pride & Prejudice
Hair
Chungking Express
Amélie
Superbad
Shrek
Breakfast at Tiffany's
The World's End
Something Wild
The Breakfast Club
Dope
Matilda
The Night Is Short, Walk On Girl
Little Shop of Horrors
Attack the Block
Bridesmaids
When Harry Met Sally...
Tootsie
Hairspray
Crazy Rich Asians
Girls Trip
The School of Rock
Hot Fuzz
La La Land
Little Miss Sunshine
Shakespeare in Love
Shaun of the Dead
The Kingdom of Dreams and Madness
Love, Simon
Fantastic Mr. Fox
Enchanted
Star Wars: The Force Awakens
Hidden Figures
Fighting With My Family
Thor: Ragnarok
About a Boy
Klaus
The Triplets of Belleville
Best in Show
The Sting
Juno
Risky Business
Spy
Sing Street
WALL-E
The Muppets
Moana
Groundhog Day
Back to the Future
Catch Me if You Can
Hunt for the Wilderpeople
Ratatouille
Spider-Man: Into the Spider-Verse
Booksmart
Ghostbusters
Love & Friendship
The Princess Bride
Spirited Away
Dolemite Is My Name
Big
Hairspray
Sense and Sensibility
Your Name
Lady Bird
Paddington 2
Singin' in the Rain
Tampopo
Related News
More Binge Guide

In [31]:
df=pd.DataFrame(movee)

In [32]:
df

                                     title
0                             Now and Then
1                                     Hook
2                   Angels in the Outfield
3    The Fast and the Furious: Tokyo Drift
4                              Nacho Libre
..                                     ...
147                           Paddington 2
148                    Singin' in the Rain
149                                Tampopo
150                           Related News
151                       More Binge Guide

[152 rows x 1 columns]

In [34]:
df.to_csv('Happy.csv',index=False)

In [33]:
df

                                     title
0                             Now and Then
1                                     Hook
2                   Angels in the Outfield
3    The Fast and the Furious: Tokyo Drift
4                              Nacho Libre
..                                     ...
147                           Paddington 2
148                    Singin' in the Rain
149                                Tampopo
150                           Related News
151                       More Binge Guide

[152 rows x 1 columns]